body
{
    background-position: center top;
    font-family:  'Comic Sans MS', verdana, Tahoma, Arial, sans-serif;
    color: #0000FF;
    text-align: center;
    background: #FFFFFF url("/images/bkgnd.jpg") repeat-y fixed center top;
}
h1
{
    color: #0000FF;
    text-align: center;
}
h2
{
    color: #0000FF;
    text-align: center;
}
h3
{
     color: #0000FF;
    text-align: center;
}
p
{
    margin-left: 20px;
    margin-right: 20px;
    color: Black;
    text-align: justify;
}

td.ImageCell
{
    vertical-align: top;
}
td.ImageCell div
{
    border: solid 3px;
    vertical-align: top;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

table.RouteData
{
    table-layout: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
div.HeaderContainer
{
    height: 160px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0FD3FF;
}
img.HeaderLogo
{
    height: 140px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

div.ContentPanel
{
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px 20px 10px;
     font-size: small;
    color: #0000FF;
    overflow: auto;
    background-color: #FFFFCC;
    position: relative;
}
div.FooterContainer
{
    width: 900px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    font-size: x-small;
    font-weight: bold;
}
div.ImageAndDesc
{
    padding-bottom: 20px;
}
div.ImageAndDesc img
{
    border: solid 1px blue;
}
.ImageWithBorder
{
    border: solid 1px blue;
}

div.Horiz ul
{
    padding-top: 10px;
    padding-bottom: 10px;
}
div.Horiz li
{
    display: inline;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

div.Horiz
{

    background-color: Silver;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    text-align:center;
    font-size: medium;
    font-weight: bold;
    text-transform: capitalize;
    font-style: normal;
    font-variant: small-caps;
}



.MenuButton
{
    vertical-align: middle;
    border-color: inherit;
    border-width: thin;
    border-style: none;
    overflow: hidden;
}


.HoverMenuImage
{
    background-color: #B6E2FD;
    overflow: hidden;
    left: 1px;
    top: 1px;
}
div.NewsBanner
{
    visibility: hidden;
    display: none;
    border: medium outset #FFFFFF;
    padding: 30px;
    background-color: #FFFFCC;
    left: 20%;
    width: 60%;
    background-color: #6699FF;
}

div.MainCenter
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.ImageDiv
{
    margin: 10px;
    text-align: center;
    cursor: pointer;
}
.CenterUrl
{
    text-align: center;
}
.FbLike
{
    border: none;
    overflow: hidden;
    width: 75px;
    height: 21px;
    position: absolute;
    left: 30px;
    top: 3px;
}
